---
---

@import "{{ site.theme }}";

body {
    line-height: 2;
    color: #565656;
}

header {
    width: 25%;
}

header ul {
    background: none;
    border-radius: 0;
    border: none;
    width: 100%;
}

header li {
    display: block;
    border: none;
    width: 100%;
}

header ul li + li + li {
    width: 100%;
}

header ul a {
    text-align: left;
    font-size: 14px;
    text-decoration: underline;
    color: #267CB9;
}

header ul a:hover, header ul a:focus {
    color:  #069;
}

section {
    width: 70%;
}

h1 {
    font-size: 24px;
}

a:hover, a:focus {
    font-weight: normal;
    text-decoration: underline;
}

.wrapper {
    width: 95%;
}

.site-title {
    margin: 0 0 10px;
    font-weight: 600;
}

.site-title a {
    color: black;
}

.site-title a:hover, .site-title a:focus {
    font-weight: 600;
}

.avatar {
    border-radius: 50%;
    width: 130px;
    height: 130px;
    margin: 16px 0 35px 0;
}

.category-item {
    margin: 15px 0 0 0;
    padding: 15px 0;
    border: 1px solid #e5e5e5;
    border-width: 0 0 1px 0; 
}

.category-item h3 {
    margin: 0 0 10px;
}

.category-item a:hover, .category-item a:focus {
    font-weight: bold;
}

.container {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.container div {
    margin: 10px 10px 0 0;
}

@media print, screen and (max-width: 960px) {

    header {
        width: 100%;
        text-align: center;
    }

    section {
        width: 100%;
        border-width: 1px 0 0 0;
    }

    header ul {
        position: static;
        display: flex;
        justify-content: center;
        width: 90%;
        margin: 0 auto;
    }

    header li {
        width: auto;
        margin: 0 10px;
    }

    header ul li + li + li {
        width: auto;
    }

    header ul a {
        text-align: center;
    }
}

@media print, screen and (max-width: 480px) {

    .avatar {
        width: 100px;
        height: 100px;
        margin: 10px 0;
    }
}